.space {
  padding-top: 60px; }

.home1-text, .home2-text {
  margin-top: 100px; }

.home2-text {
  margin-left: 300px; }

.home3-text {
  margin-top: 10px; }

.banner {
  background-image: url(../img/cover.jpg);
  background-size: 100%;
  height: 600px;
  background-attachment: fixed;
  margin-bottom: 30px;
  background-repeat: no-repeat; }

.text-blue {
  color: #04B4AE; }

.banner h1, h6 {
  color: white;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

/* --------------------- Progress Bar --------------------- */
.progress-bar-circles {
  margin-left: 30%;
  margin-top: 2%; }

.circle-red, .circle-yellow, .circle-green, .circle-blue {
  display: inline-block; }

.pure-css {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  color: #fff; }
  .pure-css .semi {
    width: 50%;
    height: 100%; }
    .pure-css .semi.right .circle {
      border-top-left-radius: 150px;
      border-bottom-left-radius: 150px;
      border-right: 0;
      -webkit-transform: rotate(0deg) translate(-100%, 0);
      -ms-transform: rotate(0deg) translate(-100%, 0);
      transform: rotate(0deg) translate(-100%, 0);
      -webkit-animation: rotate 4s linear forwards;
      animation: rotate 4s linear forwards;
      -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
      transform-origin: 0% 50%; }
    .pure-css .semi.left .circle {
      border-top-right-radius: 150px;
      border-bottom-right-radius: 150px;
      border-left: 0;
      -webkit-transform: rotate(0deg) translate(100%, 0);
      -ms-transform: rotate(0deg) translate(100%, 0);
      transform: rotate(0deg) translate(100%, 0);
      -webkit-animation: rotate2 4s linear forwards;
      animation: rotate2 4s linear forwards;
      -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-animation-delay: 4s;
      animation-delay: 4s; }
    .pure-css .semi .circle {
      width: 100%;
      height: 100%;
      border: 6px solid #FA5858; }
  .pure-css .text {
    position: absolute;
    top: 50%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 1em;
    overflow: hidden;
    font-size: 15px; }
  .pure-css .num {
    display: inline-block;
    -webkit-animation: up 8s steps(98, end) forwards;
    animation: up 8s steps(98, end) forwards; }
  .pure-css .shade {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 6px solid #8A0808; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(180deg) translate(-100%, 0);
    transform: rotate(180deg) translate(-100%, 0); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(180deg) translate(-100%, 0);
    transform: rotate(180deg) translate(-100%, 0); } }

@-webkit-keyframes rotate2 {
  100% {
    -webkit-transform: rotate(180deg) translate(100%, 0);
    transform: rotate(180deg) translate(100%, 0); } }

@keyframes rotate2 {
  100% {
    -webkit-transform: rotate(180deg) translate(100%, 0);
    transform: rotate(180deg) translate(100%, 0); } }

@-webkit-keyframes up {
  100% {
    -webkit-transform: translate(0, -99%);
    transform: translate(0, -99%); } }

@keyframes up {
  100% {
    -webkit-transform: translate(0, -99%);
    transform: translate(0, -99%); } }

/* --------------------- Button --------------------- */
.bt-type1 {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 30px;
  margin-top: 100px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: white;
  line-height: 32px;
  cursor: pointer; }

a {
  text-decoration: none; }

* {
  margin: 0; }

.bt-type1:hover {
  color: #04B4AE;
  border: 1px solid #04B4AE; }

/* --------------------- Nominees --------------------- */
.sm {
  padding-top: 4px; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    top: -200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s; }
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .hovereffect img {
    display: block;
    position: relative; }
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 10px 14px;
    text-transform: uppercase;
    margin: -10px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #000;
    border: 1px solid #000;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; }
    .hovereffect a.info:hover {
      box-shadow: 0 0 5px #fff; }
  .hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0 0 5px #000;
    color: #000;
    border: 1px solid #000;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }

/* --------------------- Load More ---------------------*/
.btn-s {
  margin-left: 45%;
  margin-bottom: 5%;
  margin-top: 5%; }

.p-footer {
  font-size: 15px;
  font-weight: bolder; }

.th {
  border-radius: 30px;
  border: none;
  margin-left: 5px; }
