
.green
 margin-top: 0px
 height: 170px

i
 font-size: 60px
 padding-top: 100px


.footer-color
 margin-top: -20px
 height: 400px

footer
 padding: none
 float: none
 margin: 0

.box-color
 width: 500px
 height: 30px
 text-align: center

.circle
 margin-left: 70px

.text-title
 margin-top: 50px



